USE [master]
GO
/****** Object:  Database [Cars_db]    Script Date: 8/12/2016 1:49:27 PM ******/
CREATE DATABASE [Cars_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Cars_db', FILENAME = N'C:\Users\Taylor\Cars_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Cars_db_log', FILENAME = N'C:\Users\Taylor\Cars_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Cars_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Cars_db]
GO
USE [Cars_db]
GO
/****** Object:  Table [dbo].[Cars]    Script Date: 8/12/2016 1:49:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cars](
	[carId] [int] NOT NULL,
	[carName] [nvarchar](max) NOT NULL,
	[description] [nvarchar](max) NULL,
	[imageUrl] [nvarchar](max) NULL,
	[imageUrl1] [nvarchar](max) NULL,
	[noBoost] [float] NULL,
	[boost] [float] NULL,
	[total] [float] NULL,
	[length] [float] NULL,
	[width] [float] NULL,
	[height] [float] NULL,
	[surface] [float] NULL,
 CONSTRAINT [PK_Cars] PRIMARY KEY CLUSTERED 
(
	[carId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
USE [master]
GO
