li {
    font-size: large;
}

div.panel-heading {
   font-size: x-large;
}

body {
  background-image: url("./assets/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.play {
  margin-top: 7px;
  margin-left: 50px;
}
